<div style="position:relative;" *ngIf="isLoading">
    <button class="btn btn-success" type="button" disabled style="position:absolute;top: 0;right:0; margin: 1em;">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading Heros...
      </button>
</div>

<div style="position:relative;" *ngIf="notification && message">
    <button class="btn btn-success" type="button" disabled style="position:absolute;top: 0;right:0; margin: 1em;">
      {{ message }}
    </button>
</div>

<div class="container">
    <div class="row header">
        <div class="col-12 m-2" style="text-align:center;">
            <img src="../../../assets/images/logo.png" alt="logo" style="width: 8em; height:1.5em;">
        </div>
        <h1 class="title col-sm-12 col-md-12 col-lg-3 col-xl-3">Hero(s)</h1>
        <mat-form-field class="search col-sm-12 col-md-12 col-lg-8 col-xl-8" floatLabel="always">
            <mat-label>Heros</mat-label>
            <input matInput [formControl]="search" (keydown.enter)="onSearchhero()" placeholder="Search your hero name here..">
        </mat-form-field>
        <section class="col-12">
            <mat-slide-toggle
            color="primary"
            [checked]="dbInfo"
            (change)="getDBHeres()">
            {{dbInfo ? 'Heros API' : 'Heros in DB'}}
            </mat-slide-toggle>
        </section>
    </div>       
   
    <div *ngIf="!isSearching && !dbInfo" class="row hero__list" (scroll)="onScroll($event)">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let hero of heros">
            <div class="card {{'bg-color-'+ hero.biography.alignment + '-light'}}">
                <div class="row">
                    <div class="card__inf col-4">
                        <h2 class="color-white">{{hero.name}}</h2>
                        <div class="element-button">
                            <button (click)="onDetail(hero)" type="button" class="btn btn-primary btn-style" >Statistics</button>
                            <button (click)="AddHero(hero)" type="button" class="btn btn-{{ColorButtonFavorite(hero)}} btn-style">Favorite</button>
                        </div>
                    </div>
                    <div class="card__img col-8">
                        <img src="{{hero.image.url}}" onerror="this.onerror=null; this.src='../../../assets/images/hero-not-found.png'" [alt]="hero.name" style="width: 100%; height:15em;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isSearching" class="hero__list__search">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let hero of searchhero">
                <div class="card {{'bg-color-'+ hero.biography.alignment + '-light'}}">
                    <div class="row">
                        <div class="card__inf col-4">
                            <h2 class="color-white">{{hero.name}}</h2>
                            <div class="element-button">
                                <button (click)="onDetail(hero)" type="button" class="btn btn-primary btn-style">Statistics</button>
                                <button (click)="AddHero(hero)" type="button" class="btn btn-warning btn-style">Favorites</button>
                            </div>
                        </div>
                        <div class="card__img col-8">
                            <img src="{{hero.image.url}}" onerror="this.onerror=null; this.src='../../../assets/images/hero-not-found.png'" [alt]="hero.name" style="width: 100%; height:15em;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div *ngIf="dbInfo && !isSearching" class="hero__list__search">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let hero of heroDB">
                <div class="card {{'bg-color-'+ hero.biography.alignment + '-light'}}">
                    <div class="row">
                        <div class="card__inf col-4">
                            <h2 class="color-white">{{hero.name}}</h2>
                            <div class="element-button">
                                <button (click)="onDetail(hero)" type="button" class="btn btn-primary btn-style">Statistics</button>
                            </div>
                        </div>
                        <div class="card__img col-8">
                            <img src="{{hero.image.url}}" onerror="this.onerror=null; this.src='../../../assets/images/hero-not-found.png'" [alt]="hero.name" style="width: 100%; height:15em;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
