    <div class="sheet__img">
        <img *ngIf="!classicMode" [src]="hero.image.url" [alt]="hero.name" style="width:10em; height:10em; border-radius: 5em;">
    </div>
    
    <mat-tab-group class="sheet">
        <mat-tab label="Powerstats">
            <div class="sheet__tab">
                <div class="sheet__item">
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Intelligence: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Strength: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Speed: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Durability: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Power: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Combat: </div>
    
                </div>
                <div class="sheet__item">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{hero.powerstats.intelligence}}%;" aria-valuemin="0" aria-valuemax="100">{{hero.powerstats.intelligence}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{hero.powerstats.strength}}%;" aria-valuemin="0" aria-valuemax="100">{{hero.powerstats.strength}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{hero.powerstats.speed}}%;" aria-valuemin="0" aria-valuemax="100">{{hero.powerstats.speed}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{hero.powerstats.durability}}%;" aria-valuemin="0" aria-valuemax="100">{{hero.powerstats.durability}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{hero.powerstats.power}}%;" aria-valuemin="0" aria-valuemax="100">{{hero.powerstats.power}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{hero.powerstats.combat}}%;" aria-valuemin="0" aria-valuemax="100">{{hero.powerstats.combat}}</div>
                    </div>
                    
                    
                </div>
            </div>
        </mat-tab>
    
    
        <mat-tab label="Biography">
            <div class="sheet__tab">
                <div class="sheet__item">
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Full-name: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Alter-egos: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Aliases: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Place-of-birth: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">First-appearance: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Publisher: </div>
                    <div style="color: rgb(39, 39, 39)" class="sheet__item_label">Alignment: </div>
    
                </div>
                <div class="sheet__item">
                    <div>{{hero.biography['full-name']}}</div>
                    <div>{{hero.biography['alter-egos']}}</div>
                    <div>{{hero.biography.aliases}}</div>
                    <div>{{hero.biography['place-of-birth']}}</div>
                    <div>{{hero.biography['first-appearance']}}</div>
                    <div>{{hero.biography.publisher}}</div>
                    <div>{{hero.biography.alignment}}</div>
                </div>
            </div>
            
        </mat-tab>
    
    </mat-tab-group>

