.sheet__item {
    display: flex;
    flex-direction: column;
    height:100%
}

.sheet__tab {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.sheet__item{
    margin-top: 20px;
    width: 15em;
}

.sheet__item_label{
    margin-right: 20px;
    font-weight: 700;
}

.sheet{
    margin-bottom: 15% !important;
}

.sheet__img{
    text-align: center;
}

.mat-progress-bar{
    height: 100%;
    background-color: white;

}

.progress {
    margin: 2px;
    display: flex;
    height: 1.5em;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: floralwhite;
    border-radius: .25rem;
}